*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --PaleViolet:hsl(276, 100%, 81%);
    --ModerateViolet:hsl(276, 55%, 52%);
    --DesaturatedDarkViolet:hsl(271, 15%, 43%);
    --GrayishBlue:hsl(206, 6%, 79%);
    --VeryDarkDesaturatedViolet:hsl(271, 36%, 24%);
    --DarkGrayishViole:hsl(270, 7%, 64%);
    --LightMagenta:hsl(293, 100%, 63%);
    --LightViolet:hsl(264, 100%, 61%);
    --White: hsl(0, 0%, 100%);
    --LightGrayishViolet: hsl(270, 20%, 96%);
    --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
    --VeryLightMagenta : hsl(289, 100%, 72%);
}

@font-face {
    font-family: Regular;
    src: url(../fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: Medium;
    src: url(../fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: Bold;
    src: url(../fonts/Rubik-Bold.ttf);
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(250,250,250);
}



main{
    display: flex;
    flex-direction: column;
    
    margin:3rem;
   
    justify-content: center;
    align-items: center;
    display: flex;
    gap:6rem;
}
main::before {
    content: "";
    position: absolute;
    background-color: hsl(264, 100%, 61%);
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    overflow: hidden;
    z-index: -1;
    top: 0;
    width: 30rem;
    height:45rem;
    left: -250px;
}

/* .section-one{
    padding-right: 4rem;
    padding-left: 4rem;
} */

.phone-container{
    border: 2px solid white;
    width:400px;
    
    background-color: white;
    border-radius: 35px;
   
}



.phone-subcontainer{
    padding: .5rem;
   
   
}

header{
    display: flex;
    padding-top:3.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    background: linear-gradient(hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(15px);
    color: white;
   
   
}

.user-name{
    font-family: Medium,sans-serif;

}

.user-status{
    font-family: Regular,sans-serif;

}

.three-dots{
    margin-left: 30%;
}



header::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 30px;
    background-color: hsl(0, 0%, 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: -1PX;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.header-pfp{
    width:2rem;
    border:1px solid white;
    border-radius: 50%;
    margin-right:1rem;
}


.phone-subbody{
    background-color: var(--LightGrayishViolet);
    padding: 2rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.purple-bg{
    max-width:81%;
    width: fit-content;

    background-color: rgb(237,229,244) ;
    margin-bottom: 2rem;
    padding: .7rem;
    border-radius: 20px;
    color:var(--ModerateViolet);
    font-family: Regular,sans-serif;
}

.purple-bg:nth-child(1){
    margin-bottom: 1rem;
}

.purple-bg.two{
  
}

.dog-frame{
    display: flex;
    justify-content: flex-end;
    gap:1rem;
    margin-bottom: 2rem;
}

.dog-pictures{
    width:3.5rem;
    border-radius: 20px;
    
}

.chat-right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-end;
    /* max-width: 71%; */
   
}
.white-bg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-end;
    padding: .7rem;
    border-radius: 20px;
}
.white-bg.one {
    
    background-color: white;
    width: fit-content;
    max-width: 75%;
    margin-bottom: 1rem;
    border-radius: 20px;
    font-family:  Regular,sans-serif;
    
}



.white-bg.two {
    
    background-color: white;
    width: fit-content;
    margin-bottom: 2rem;
    font-family:  Regular,sans-serif;
   

}
.purple-gradient-bg {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-image: linear-gradient(to right,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    padding: 1rem;
    margin: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: hsl(0, 0%, 100%);
    align-items: center;
  }

  .gradient-label{
    font-family: Regular,sans-serif;
  }

  .gradient-price{
    font-family: Regular,sans-serif;
    font-size: 1.2rem;
  }


.purple-gradient-bg.one{
    margin-bottom: 1rem;
}
.purple-gradient-bg.second{
    margin-bottom: 2rem;

}

.textarea {
    position: relative;
}

.textarea input {
    width: calc(100% - 20px);
    padding: 15px;
    border: none;
    margin: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .fa-angle-right {
    position: absolute;
    color: hsl(0, 0%, 100%);
    top: 22px;
    right: 25px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: hsl(271, 36%, 24%);
    padding: 3px 0 0 7px;
  }

  .fa-angle-right:before {
    content: "\f105";
 
}

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    font-family: Bold,sans-serif;
    color: var( --VeryDarkDesaturatedViolet);
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align:

}


.section-two-para{
    font-family:Regular,sans-serif ;
    line-height: 2;
    color: var(--GrayishBlue);
    font-size: 1rem;
    
}

@media screen and (min-width:1000px){
    main{
        display: flex;
        flex-direction: row;
        margin: 100px auto;
        width: 1024px;
    }

    main::before {
        content: "";
        position: absolute;
        background-color: hsl(264, 100%, 61%);
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;
        overflow: hidden;
        z-index: -1;
        top: 0;
        width: 40rem;
        height:75rem;
        left: -250px;
    }
    main::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 200rem;
        z-index: -1;
        border-top-left-radius: 300px;
        background-color: hsl(270, 20%, 96%);
        bottom: 0;
        right: 0;
        top:55rem;
    }
    .section-two{
        align-self: center;
    }
}